<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Pokemon App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
    </li>
    <li>
        <a class="nav-link" href="PokemonList">Pokemon List <span class="sr-only">(current)</span></a>
    </li>
    <!-- <li class="nav-item">
    <a class="nav-link" href="/DetailPage">Detail Page</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="/ErrorHandling">HTTP Error Handling</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
    </li>
    </ul>
    </div>
</nav>
    
    