<div class="container welcome mt-5">
    <h1>Welcome</h1>
    <p>
        &nbsp;
    </p>
    <p>
        <img alt="" class="rounded mx-auto d-block" src="assets/pokeapi_256.png" style="filter: drop-shadow(0 0 0.85rem rgb(0, 0, 0));" />
    </p>
    
</div>

<div class="container welcome">
    <div class="row">
        <h2>All the Pokémon data is a modern RESTful API.</h2> 
    </div>    
</div>

<div class="container btn mt-5">
    <!-- <button class="btn btn-secondary" (click)="goToPage()" >Go to Pokemon List</button> -->
   
    <span href="/PokemonList" routerLink="/PokemonList">Goo</span>
</div>



